#!/usr/bin/env python
PACKAGE = "tip_obstacle"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("r_dis_enable", int_t, 0, "r_dis_enable", 1, 0, 1)
gen.add("r_dis_min", double_t, 0, "r_dis_min", 0.1, 0, 1)
gen.add("r_dis_max", double_t, 0, "r_dis_max", 1, 0, 5)

gen.add("left_filter_enable", int_t, 0, "left_filter_enable", 1, 0, 1)
gen.add("left_min_angle", double_t, 0, "left_min_angle", 0, -360.0, 360.0)
gen.add("left_max_angle", double_t, 0, "left_max_angle", 0, -360.0, 360.0)
gen.add("left_min_y", double_t, 0, "left_min_y", 0, -10.0, 10.0)
gen.add("left_max_y", double_t, 0, "left_max_y", 0, -10.0, 10.0)

gen.add("right_filter_enable", int_t, 0, "right_filter_enable", 1, 0, 1)
gen.add("right_min_angle", double_t, 0, "right_min_angle", 0, -360.0, 360.0)
gen.add("right_max_angle", double_t, 0, "right_max_angle", 0, -360.0, 360.0)
gen.add("right_min_y", double_t, 0, "right_min_y", 0, -10.0, 10.0)
gen.add("right_max_y", double_t, 0, "right_max_y", 0, -10.0, 10.0)

gen.add("pallet_id_left_filter_enable", int_t, 0, "pallet_id_left_filter_enable", 0, 0, 1)
gen.add("pallet_id_left_min_angle", double_t, 0, "pallet_id_left_min_angle", 0, -360.0, 360.0)
gen.add("pallet_id_left_max_angle", double_t, 0, "pallet_id_left_max_angle", 0, -360.0, 360.0)
gen.add("pallet_id_left_min_y", double_t, 0, "pallet_id_left_min_y", 0, -10.0, 10.0)
gen.add("pallet_id_left_max_y", double_t, 0, "pallet_id_left_max_y", 0, -10.0, 10.0)

gen.add("pallet_id_right_filter_enable", int_t, 0, "pallet_id_right_filter_enable", 0, 0, 1)
gen.add("pallet_id_right_min_angle", double_t, 0, "pallet_id_right_min_angle", 0, -360.0, 360.0)
gen.add("pallet_id_right_max_angle", double_t, 0, "pallet_id_right_max_angle", 0, -360.0, 360.0)
gen.add("pallet_id_right_min_y", double_t, 0, "pallet_id_right_min_y", 0, -10.0, 10.0)
gen.add("pallet_id_right_max_y", double_t, 0, "pallet_id_right_max_y", 0, -10.0, 10.0)

exit(gen.generate(PACKAGE, "tip_obstacle", "tip_obstacle"))
