#!/usr/bin/env python
PACKAGE = "tip_obstacle"

from dynamic_reconfigure.parameter_generator_catkin import *
import math

gen = ParameterGenerator()

gen.add("left_x", double_t, 0, "left_x", 0, -5.0, 5.0)
gen.add("left_y", double_t, 0, "left_y", 0, -5.0, 5.0)
gen.add("left_z", double_t, 0, "left_z", 0, -5.0, 5.0)
gen.add("left_yaw", double_t, 0, "left_yaw", 0, -5.0, 5.0)
gen.add("left_pitch", double_t, 0, "left_pitch", 0, -5.0, 5.0)
gen.add("left_roll", double_t, 0, "left_roll", 0, -5.0, 5.0)

gen.add("right_x", double_t, 0, "right_x", 0, -5.0, 5.0)
gen.add("right_y", double_t, 0, "right_y", 0, -5.0, 5.0)
gen.add("right_z", double_t, 0, "right_z", 0, -5.0, 5.0)
gen.add("right_yaw", double_t, 0, "right_yaw", 0, -5.0, 5.0)
gen.add("right_pitch", double_t, 0, "right_pitch", 0, -5.0, 5.0)
gen.add("right_roll", double_t, 0, "right_roll", 0, -5.0, 5.0)

gen.add("fused_x", double_t, 0, "fused_x", 0, -5.0, 5.0)
gen.add("fused_y", double_t, 0, "fused_y", 0, -5.0, 5.0)
gen.add("fused_z", double_t, 0, "fused_z", 0, -5.0, 5.0)
gen.add("fused_yaw", double_t, 0, "fused_yaw", 0, -5.0, 5.0)
gen.add("fused_pitch", double_t, 0, "fused_pitch", 0, -5.0, 5.0)
gen.add("fused_roll", double_t, 0, "fused_roll", 0, -5.0, 5.0)


gen.add("left_min_angle", double_t, 0, "left_min_angle", 0, -360.0, 360.0)
gen.add("left_max_angle", double_t, 0, "left_max_angle", 0, -360.0, 360.0)
gen.add("right_min_angle", double_t, 0, "right_min_angle", 0, -360.0, 360.0)
gen.add("right_max_angle", double_t, 0, "right_max_angle", 0, -360.0, 360.0)

gen.add("left_min_y", double_t, 0, "left_min_y", 0, -10.0, 10.0)
gen.add("left_max_y", double_t, 0, "left_max_y", 0, -10.0, 10.0)
gen.add("right_min_y", double_t, 0, "right_min_y", 0, -10.0, 10.0)
gen.add("right_max_y", double_t, 0, "right_max_y", 0, -10.0, 10.0)

gen.add("pallet_id_left_min_y", double_t, 0, "pallet_id_left_min_y", 0, -10.0, 10.0)
gen.add("pallet_id_left_max_y", double_t, 0, "pallet_id_left_max_y", 0, -10.0, 10.0)
gen.add("pallet_id_right_min_y", double_t, 0, "pallet_id_right_min_y", 0, -10.0, 10.0)
gen.add("pallet_id_right_max_y", double_t, 0, "pallet_id_right_max_y", 0, -10.0, 10.0)


exit(gen.generate(PACKAGE, "tip_obstacle", "tip_obstacle"))
