<?xml version="1.0"?>
<launch>
    <!-- 话题与坐标系参数 -->
    <arg name="tip_type" default="0" />     <!-- 1:单叉臂   0:双叉臂 -->
    <arg name="parent_frame" default="velodyne" />
    <arg name="left_child_frame" default="bleft_laser" />
    <arg name="right_child_frame" default="bright_laser" />
    <arg name="out_fused_points_cloud" default="fused_points_tip" />
    <arg name="out_bleft_points_cloud" default="bleft_points_tip" />
    <arg name="out_bright_points_cloud" default="bright_points_tip" />

    <!-- 核心：三个配置文件的路径 -->
    <arg name="yaml_path_tf" default="$(env HOME)/work/workspace/param/lidar_calibration.yaml" />
    <arg name="yaml_path_carport" default="$(env HOME)/work/workspace/config/perception/obstacle_detection.yaml" />
    <arg name="yaml_path_config" default="$(env HOME)/work/workspace/config/perception/tip_obstacle.yaml" />

    <!-- 
    <arg name="yaml_path_tf" default="/home/ros_ws/workspace/param" />
    <arg name="yaml_path_carport" default="/home/ros_ws/workspace/config/perception/obstacle_detection.yaml" /> 
    <arg name="yaml_path_config" default="/home/ros_ws/workspace/config/perception/tip_obstacle.yaml" />
    -->

    <arg name="debug" default="false" />

    <node pkg="tip_obstacle" name="tip_obstacle_node" type="tip_obstacle_node" output="screen" >
        <param name="tip_type" value="$(arg tip_type)" />
        <param name="parent_frame" value="$(arg parent_frame)" />
        <param name="left_child_frame" value="$(arg left_child_frame)" />
        <param name="right_child_frame" value="$(arg right_child_frame)" />
        
        <param name="out_fused_points_cloud" value="$(arg out_fused_points_cloud)" />
        <param name="out_bleft_points_cloud" value="$(arg out_bleft_points_cloud)" />
        <param name="out_bright_points_cloud" value="$(arg out_bright_points_cloud)" />
       
        <!-- 将 YAML 路径传给 C++ 节点 -->
        <param name="tf_yaml_path" value="$(arg yaml_path_tf)" />
        <param name="carport_yaml_path" value="$(arg yaml_path_carport)" />
        <param name="config_yaml_path" value="$(arg yaml_path_config)" />

        <param name="debug" value="$(arg debug)" />
    </node>
</launch>
