<?xml version="1.0"?>
<launch>
    <!-- 话题参数 -->
    <arg name="tip_type" default="0" />     <!-- 1:单叉臂   0:双叉臂 -->
    <arg name="parent_frame" default="velodyne" />
    <arg name="left_child_frame" default="bleft_laser" />
    <arg name="right_child_frame" default="bright_laser" />
    <arg name="out_fused_points_cloud" default="fused_points_tip" />
    <!-- 【新增】：左右雷达独立转换到 velodyne 的话题 -->
    <arg name="out_bleft_points_cloud" default="bleft_points_tip" />
    <arg name="out_bright_points_cloud" default="bright_points_tip" />

    <!-- yaml文件路径 -->
    <!-- <arg name="yaml_path_tf" default="$(env HOME)/work/workspace/param/lidar_calibration.yaml" />
    <arg name="yaml_path_carport" default="$(env HOME)/work/workspace/config/perception/obstacle_detection.yaml" /> -->

    <arg name="yaml_path_tf" default="/home/ros_ws/workspace/param" />
    <arg name="yaml_path_carport" default="/home/ros_ws/workspace/config/perception/obstacle_detection.yaml" />

    <!-- 过滤参数 -->
    <arg name="debug" default="false" />

     <!-- 库位长廊的激活距离 (单位: 米) -->
    <param name="carport_activation_dist" value="5.0" />

    <arg name="left_filter_enable" default="1" />
    <arg name="left_min_angle" default="30.0" />
    <arg name="left_max_angle" default="340.0" />
    <arg name="left_min_y" default="0.50" />
    <arg name="left_max_y" default="-0.00" />
    <arg name="right_filter_enable" default="1" />
    <arg name="right_min_angle" default="30.0" />
    <arg name="right_max_angle" default="330.0" />
    <arg name="right_min_y" default="0.00" />
    <arg name="right_max_y" default="-0.50" />

    <arg name="pallet_id_left_filter_enable" default="1" />
    <arg name="pallet_id_left_min_angle" default="15.0" />
    <arg name="pallet_id_left_max_angle" default="355.0" />
    <arg name="pallet_id_left_min_y" default="0.50" />          
    <arg name="pallet_id_left_max_y" default="-0.00" />           
    <arg name="pallet_id_right_filter_enable" default="1" />
    <arg name="pallet_id_right_min_angle" default="15.0" />
    <arg name="pallet_id_right_max_angle" default="355.0" />
    <arg name="pallet_id_right_min_y" default="0.00" />          
    <arg name="pallet_id_right_max_y" default="-0.50" />               

    <node pkg="tip_obstacle" name="tip_obstacle_node" type="tip_obstacle_node"  output="screen" >
        <param name="tip_type" value="$(arg tip_type)" />
        <param name="parent_frame" value="$(arg parent_frame)" />
        <param name="left_child_frame" value="$(arg left_child_frame)" />
        <param name="right_child_frame" value="$(arg right_child_frame)" />
        <param name="out_fused_points_cloud" value="$(arg out_fused_points_cloud)" />
        <!-- 【新增】：将参数传给节点 -->
        <param name="out_bleft_points_cloud" value="$(arg out_bleft_points_cloud)" />
        <param name="out_bright_points_cloud" value="$(arg out_bright_points_cloud)" />
       
        <!-- 过滤参数导入节点 -->
        <param name="debug" value="$(arg debug)" />

        <param name="left_filter_enable" value="$(arg left_filter_enable)" />
        <param name="left_min_angle" value="$(arg left_min_angle)" />
        <param name="left_max_angle" value="$(arg left_max_angle)" />
        <param name="left_min_y" value="$(arg left_min_y)" />
        <param name="left_max_y" value="$(arg left_max_y)" />
        <param name="right_filter_enable" value="$(arg right_filter_enable)" />
        <param name="right_min_angle" value="$(arg right_min_angle)" />
        <param name="right_max_angle" value="$(arg right_max_angle)" />
        <param name="right_min_y" value="$(arg right_min_y)" />
        <param name="right_max_y" value="$(arg right_max_y)" />

        <param name="pallet_id_left_filter_enable" value="$(arg pallet_id_left_filter_enable)" />
        <param name="pallet_id_left_min_angle" value="$(arg pallet_id_left_min_angle)" />
        <param name="pallet_id_left_max_angle" value="$(arg pallet_id_left_max_angle)" />
        <param name="pallet_id_left_min_y" value="$(arg pallet_id_left_min_y)" />
        <param name="pallet_id_left_max_y" value="$(arg pallet_id_left_max_y)" />
        <param name="pallet_id_right_filter_enable" value="$(arg pallet_id_right_filter_enable)" />
        <param name="pallet_id_right_min_angle" value="$(arg pallet_id_right_min_angle)" />
        <param name="pallet_id_right_max_angle" value="$(arg pallet_id_right_max_angle)" />
        <param name="pallet_id_right_min_y" value="$(arg pallet_id_right_min_y)" />
        <param name="pallet_id_right_max_y" value="$(arg pallet_id_right_max_y)" />
    </node>
</launch>